{
  "name": "Morisy",
  "version_number": "{{ version_number }}",
  "website_url": "{{ website_url }}",
  "description": "So Long, and Thanks for All the Fish",
  "dependencies": [
    "BepInEx-BepInExPack_AmongUs-6.0.700"
  ]
}